.ak_modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.ak_modal_content {
    padding: 25px;
    background: #fff;
    border-radius: 16px;
    min-width: 400px;
}

.ak_modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}