.akuBtn {
    background: darkgrey;
    border: 2px solid teal;
    font-size: 14px;
    padding: 5px 10px;
    margin: .6rem;
    cursor: pointer;
    max-width: 150px;

}

.akuBtn.current {
    background: rgb(175, 16, 16);
    font-weight: bold;
}